style. 
    .tp-ext-form-container {
        font-family: Arial, Helvetica, sans-serif;
        position: fixed;
        background-color: white;
        top: 12px;
        right: 10px;
        padding: 1.5em;
        border: 2px solid #333333;
    }

    .tp-ext-form-title {
        font-weight: bold; 
        border: 0; 
        margin-bottom: 0; 
        width: auto;
    }

    .tp-ext-valid-file {
        color: green; 
        display: none;
    }